# Build output
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/
*.DotSettings.user

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
.nuget/

# Publish / test output
publish/
*.pubxml.user
TestResults/
*.trx
